name: Build
on:
  push:
    branches-ignore: [debian]

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} / ${{ matrix.suite }}
    runs-on: ubuntu-18.04

    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7', '2.6', '2.5']
        suite:
          - core
          - faraday-0.9
          - faraday-1.0
          - msgr
          - rack
          - rails-5.0
          - rails-5.1
          - rails-5.2
          - rails-6.0
          - restify
          - sidekiq-5
          - sidekiq-6
        include:
          - suite: core
            spec: --tag ~probe
          - suite: faraday-0.9
            spec: --tag probe:faraday
            env: FARADAY_VERSION='~> 0.9'
          - suite: faraday-1.0
            spec: --tag probe:faraday
            env: FARADAY_VERSION='~> 1.0'
          - suite: msgr
            spec: --tag probe:msgr
          - suite: rack
            spec: --tag probe:rack
          - suite: rails-5.0
            spec: --tag probe:rails --tag ~probe
            env: BUNDLE_GEMFILE=gemfiles/rails_50.gemfile
          - suite: rails-5.1
            spec: --tag probe:rails --tag ~probe
            env: BUNDLE_GEMFILE=gemfiles/rails_51.gemfile
          - suite: rails-5.2
            spec: --tag probe:rails --tag ~probe
            env: BUNDLE_GEMFILE=gemfiles/rails_52.gemfile
          - suite: rails-6.0
            spec: --tag probe:rails --tag ~probe
            env: BUNDLE_GEMFILE=gemfiles/rails_60.gemfile
          - suite: restify
            spec: --tag probe:restify
          - suite: sidekiq-5
            spec: --tag probe:sidekiq
            env: SIDEKIQ_VERSION='~> 5.0'
          - suite: sidekiq-6
            spec: --tag probe:sidekiq
            env: SIDEKIQ_VERSION='~> 6.0'


    services:
      rabbitmq:
        image: rabbitmq:latest
        ports: [5672/tcp]
        options: --health-cmd "rabbitmqctl node_health_check" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - uses: actions/cache@v1
        with:
          path: vendor
          key: v1-ruby-${{ matrix.ruby }}-suite-${{ matrix.suite }}

      - name: Install Ruby dependencies
        run: |
          set -x
          gem install bundler --version '1.17.3'
          bundle config path "$(pwd)/vendor/bundle"
          bundle config without development
          ${{ matrix.env }} bundle update --jobs=$(nproc) --retry=3

      - name: Run rspec
        env:
          AMQP_SERVER: amqp://localhost:${{ job.services.rabbitmq.ports[5672] }}
        run: |
          ${{ matrix.env }} bundle exec rspec --color ${{ matrix.spec }}
