name: Test
on:
  - push
  - pull_request

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} / ${{ matrix.suite }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
        suite:
          - core
          - faraday-1.0
          - faraday-2.0
          - msgr
          - rack
          - rails-8.0
          - rails-7.2
          - rails-7.1
          - rails-7.0
          - rails-6.1
          - redis-4.0
          - redis-5.0
          - redis-client
          - restify-1
          - restify-2
          - sidekiq-6
          - sidekiq-7
        include:
          - suite: core
            spec: --tag ~probe
            gemfile: gemfiles/core.gemfile
          - suite: faraday-1.0
            spec: --tag probe:faraday
            gemfile: gemfiles/faraday_10.gemfile
          - suite: faraday-2.0
            spec: --tag probe:faraday
            gemfile: gemfiles/faraday_20.gemfile
          - suite: msgr
            spec: --tag probe:msgr
            gemfile: gemfiles/core.gemfile
          - suite: rack
            spec: --tag probe:rack
            gemfile: gemfiles/core.gemfile
          - suite: rails-8.0
            spec: --tag probe:rails --tag ~probe
            gemfile: gemfiles/rails_80.gemfile
          - suite: rails-7.2
            spec: --tag probe:rails --tag ~probe
            gemfile: gemfiles/rails_72.gemfile
          - suite: rails-7.1
            spec: --tag probe:rails --tag ~probe
            gemfile: gemfiles/rails_71.gemfile
          - suite: rails-7.0
            spec: --tag probe:rails --tag ~probe
            gemfile: gemfiles/rails_70.gemfile
          - suite: rails-6.1
            spec: --tag probe:rails --tag ~probe
            gemfile: gemfiles/rails_61.gemfile
          - suite: redis-4.0
            spec: --tag probe:redis
            gemfile: gemfiles/redis_40.gemfile
          - suite: redis-5.0
            spec: --tag probe:redis
            gemfile: gemfiles/redis_50.gemfile
          - suite: redis-client
            spec: --tag probe:redis_client
            gemfile: gemfiles/core.gemfile
          - suite: restify-1
            spec: --tag probe:restify
            gemfile: gemfiles/restify_1.gemfile
          - suite: restify-2
            spec: --tag probe:restify
            gemfile: gemfiles/restify_2.gemfile
          - suite: sidekiq-6
            spec: --tag probe:sidekiq
            gemfile: gemfiles/sidekiq_60.gemfile
          - suite: sidekiq-7
            spec: --tag probe:sidekiq
            gemfile: gemfiles/sidekiq_70.gemfile
        exclude:
          - ruby: "3.4"
            suite: rails-7.1
          - ruby: "3.4"
            suite: rails-7.0
          - ruby: "3.4"
            suite: rails-6.1
          - ruby: "3.1"
            suite: rails-8.0

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      BUNDLE_WITHOUT: development

    services:
      rabbitmq:
        image: rabbitmq:latest
        ports: [5672/tcp]
        options: --health-cmd "rabbitmqctl node_health_check" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        env:
          BUNDLE_JOBS: 4
          BUNDLE_RETRY: 3
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install dependencies
        run: |
          sudo apt install -y redis-server

      - name: Run rspec
        env:
          AMQP_SERVER: amqp://localhost:${{ job.services.rabbitmq.ports[5672] }}
        run: bundle exec rspec --color ${{ matrix.spec }}

  rubocop:
    name: rubocop
    runs-on: ubuntu-24.04

    env:
      BUNDLE_WITHOUT: development test

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        env:
          BUNDLE_JOBS: 4
          BUNDLE_RETRY: 3
        with:
          ruby-version: 4.0.0
          bundler-cache: true

      - name: Run rubocop
        run: bundle exec rubocop --parallel --color
